.background{
    background-image: url('../../assets/background5.png');
    background-size: 100%;
    background-position: center top 85%;
    height: 100vh;
    
}

.container{
   background-color: rgba(0, 0, 0, 0);
   width: 25%;
   height: auto;
   position: absolute;
   top: 45%;
   left: 3%;
   
}

.image{
    width: 130%;
    height: auto;
    margin-bottom: 5%;
   
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-color: black;
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    color: rgb(125, 230, 76);
}

.error{    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    color: rgb(76, 230, 222);
    margin: auto;
}

.button{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
}

.button:hover{
    font-size: 100%;
}