.background{
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.error{
    margin-left: 35%;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.image{
    width: auto;
    height: 99%;
    margin-top: auto;
    position: relative;
    z-index: 1;

    
    
}