.background{
    background-image: url('../../assets/estrellas.jpg');
    
    background-size: cover;
    background-position: center;
    height: 100vh;  
    position: relative;
    z-index: 1;
    
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    background-color: rgba(136, 45, 196, 0);
    margin-top: 2%;  
    position: absolute;
    z-index: 2;      
  }
