 .container{
    width: 17%;
    height: auto;
    margin: 4%;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 5%;
    box-shadow: 2px 2px 5px 0px #000000;
}

.container:hover{
    box-shadow: 2px 2px 5px 0px #4bac63;
}

.topcard{
    position: relative;
}


.name{    
    color: rgb(86, 184, 94);
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1px;
}

.name:hover{
    color:rgba(255, 255, 255, 0.897)
}

.link{
    text-decoration: none;
}

/* .card{
    color: black;
    text-align: center;
    font-size: 10px;
    line-height: 0.3em;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.image{
    display: block;
    /* margin: auto; */
   
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    
    
}

.button{
    position: absolute;
    float: right;
    margin-left: 70px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 15px;
    cursor: pointer;
    
}

.button:hover{
    font-size: 20px;
}

 
