 .container{
    width: 200px;
    height: auto;
    margin: 12px;
    background-color: rgba(85, 27, 124, 0.356);
    box-shadow: 2px 2px 5px 0px #000000;
}

.container:hover{
    box-shadow: 2px 2px 5px 0px #4bac63;
}

.topcard{
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}


.name{    
    color: rgb(86, 184, 94);
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1px;
}

.name:hover{
    color:rgba(255, 255, 255, 0.897)
}

.link{
    text-decoration: none;
}

.image{
    display: block;
    width: 100%;    
}

.button{
    position: absolute;
    float: right;
    margin-left: 80%;
    margin-top: 2%;
    color: #4bac63;
    background-color: rgba(0, 0, 0, 0.432);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
    
}

.buttonFav{
    position: absolute;
    float: right;
    margin-right: 80%;
    margin-top: 2%;    
    background-color: rgba(0, 0, 0, 0.432);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
    
}

.button:hover{
    font-size: 20px;
}

 
