.container{
    display: flex;
    justify-content: center;
}

.input{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-color:  rgb(86, 184, 94);
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    color: rgb(125, 230, 76);
}

.button{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    color: white;
}